resilience4j:
  retry:
    instances:
      validatorRetry:
        max-attempts: 3
        wait-duration: 500ms

  timelimiter:
    instances:
      validatorTimeout:
        timeout-duration: 2s

spring:
  main:
    lazy-initialization: true
  jpa:
    enabled: false
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration


logging:
  level:
    root: INFO
